section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;

}
.events>div>img {
    height:60%;
    width: 100%;
    object-fit: cover;
    border-radius: 1em 1em 0 0;

}

.events>div>div{
    height: 40%;
    color:pink;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.events>div{
    border: 2px solid gray;
    border-radius: 1em 1em 0 0;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}


section.event-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-form>form {
    display: flex;
    flex-direction: column;
}