<!DOCTYPE html>
<head>
    <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    <title>LOGIN PAGE</title>
</head>
<body>
<div class="container">
    <div class="logo">
        <img src="{{ asset('img/logo.svg') }}"/>
    </div>
    <div class="login-container">
        <form class="login" action="{{ path('app_events') }}" method="POST">
            <div class ="message">

            </div>
            <input name="email" type="text" placeholder="email@email.com">
            <input name="password" type="password" placeholder="password">
            <button type="submit">LOGIN</button>
            <a href="{{ path('app_register') }}">REGISTER</a>
        </form>
    </div>
</div>
</body>